.container{
    border: 10px solid #5a3a22;
    width: 550px;
    height: 550px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    background-color: #462e01;
    padding-right: -30px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
h1{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
.my-card{
    border: 3px solid rgb(238, 229, 229);
    margin-left: 25px;
    height: 150px;
    width: 120px;
    color: #fff;
    font-size: 30px;
    text-align:center;
    padding-right: -1px;
    background-color: black;
    position: relative;
    margin-top: 20px;
    align-items: center;
     
}
#memo{
    margin-left: 125px;
    font-size: 50px;
    letter-spacing: 5px;
}
.container{
    width: 700px;
    height: 700px;
    margin-right: 100px;
    margin-top: -10px;
    z-index: 1;
    animation: appear 1s ease-in forwards;
}
@keyframes appear {
    from{
        opacity: 0;
        transition: 1s ease-in;
    }
    to{
        opacity: 1;
        transition: 1s ease-in;
    }
}
.text{
    color: #fff;
    font-size: 50px;
    z-index: 1;
    margin-top: 20px;
}
.text,.my-card{
    cursor: pointer;
}
.rotate{
    transform: rotateY(180deg);
    transition: 1.5s;
}
.remove{
    transform: rotateY(360deg);
    transition: 1.5s;
}
img{
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-top: -112px;
    margin-right: 2px;
}

.effect{
    opacity: 1;
    transition: 2s;
}
.uneffect{
    opacity: 0;
    transition: 1s;
}

